@using System.Linq
@model ProductManagement.Models.Order


@{
    ViewData["Title"] = "Thêm sản phẩm vào đơn hàng";
}

<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="https://code.jquery.com/jquery-migrate-3.4.1.js"></script>



<br />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateConfirmed" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="TenKhachHang" class="control-label">TÊN KHÁCH HÀNG</label>
                <input id="customer" asp-for="TenKhachHang" class="form-control" />
                <span asp-validation-for="TenKhachHang" class="text-danger"></span>
            </div>
            <br />


            <div class="form-group">
                <label asp-for="MaSP" class="control-label">TÊN SẢN PHẨM</label>
                <select id="sp" asp-for="MaSP" asp-items="@(new SelectList(ViewData["Products"] as List<ProductManagement.Models.Products>, "MaSP", "TenSP"))" class="form-control">
                </select>                   
            </div>
            <br />
            <div>Giá: <span id="GiaCa" style="color:blue"></span></div>
            <br />
            @section Scripts {

                <script>
                    var arr;
                    $(document).ready(function () {
                        var idsp = 0;
                        var SoLuongDHElement = $("#SoLuongDH");
                        $('#sp').on('change', function () {
                            console.log('value san pham',this.value);
                            idsp = Number(this.value)
                            console.log(' id change', idsp);
                        });
                        // Định nghĩa một hàm để gửi yêu cầu API và cập nhật giá cả khi có phản hồi
                        function updatePrice() {
                            $.ajax({
                                url: "https://localhost:7215/api/Demo",
                                type: 'GET',
                                dataType: 'json',
                                success: function (res) {

                                    arr = res;
                                    

                         
                                    var obj = res.find(a=> a.maSP == idsp)

                                    if (obj) {
                                        $("#GiaCa").text(obj.giaCa);
                                        if (obj.giaCa && SoLuongDHElement.val()) {
                                            var totalPrice = obj.giaCa * parseInt(SoLuongDHElement.val());
                                            $("#ThanhTien").text(totalPrice);
                                            console.log(' san pham lay ra', obj);
                                            var x = parseInt(SoLuongDHElement.val());
                                            console.log(' so luong', x);
                                            console.log(' so gia ca', obj.giaCa);
                                        }
                                    }
           
                                }
                            });
                        }

                        // Gọi hàm updatePrice khi sự kiện "change" xảy ra trên select element
                        $("#sp").on("change", function () {
                            updatePrice();
                        });
                        SoLuongDHElement.on("input", function () {
                            updatePrice();
                        });
                        // Gọi hàm updatePrice ngay khi trang được tải lần đầu tiên
                        updatePrice();
                    });


                </script>

            }
            <div class="form-group">
                <label asp-for="SoLuongDH" class="control-label">SỐ LƯỢNG ĐẶT HÀNG</label>
                <input asp-for="SoLuongDH" class="form-control" />
                <span asp-validation-for="SoLuongDH" class="text-danger"></span>
            </div>
            <br />
            <div>THÀNH TIỀN: <span id="ThanhTien" style="color:crimson"></span></div>
           
            <br /> 
            <br />  
            <div class="form-group">
                <input type="submit" value="Tạo đơn hàng" class="btn btn-primary" />  |  <a asp-action="Index">Back to List</a>
        
            
        </form>
    </div>
</div>

