@using System.Linq
@model ProductManagement.Models.Order

@{
    ViewData["Title"] = "Thêm sản phẩm vào đơn hàng";
}

<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="https://code.jquery.com/jquery-migrate-3.4.1.js"></script>



<br />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateConfirmed" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="TenKhachHang" class="control-label">TÊN KHÁCH HÀNG</label>
                <input id="customer" asp-for="TenKhachHang" class="form-control" required />
                <span asp-validation-for="TenKhachHang" class="text-danger"></span>
            </div>
            <br />


            <div class="form-group">
                <label asp-for="MaSP" class="control-label">TÊN SẢN PHẨM</label>
                @* <select id="sp" asp-for="MaSP" asp-items="@(new SelectList(ViewData["Products"] as List<ProductManagement.Models.Products>, "MaSP", "TenSP"))" class="form-control">
                </select>  *@  
                <select id="sp" asp-for="MaSP" class="form-control">
                    <option selected disabled hidden>Chọn sản phẩm</option>
                    @foreach (var product in (List<ProductManagement.Models.Products>)ViewData["Products"])
                    {
                        <option value="@product.MaSP">@product.TenSP</option>
                    }
                </select>
                <span asp-validation-for="MaSP" class="text-danger"></span>
            </div>
            <br />
            <div>GIÁ: <span id="GiaCa" style="color:blue"></span></div>
            <div>SỐ LƯỢNG: <span id="SoLuongTong" style="color:blue"></span></div>
            <br />
           
            <div class="form-group">
                <label asp-for="SoLuongDH" class="control-label">SỐ LƯỢNG ĐẶT HÀNG</label>
                <input asp-for="SoLuongDH" class="form-control" min="0" required />
                <span asp-validation-for="SoLuongDH" class="text-danger" id="quantity-error" style="display:none;">Số lượng đặt hàng vượt quá số lượng có sẵn.</span>

            </div>

            <br />

            <div class="form-group">   
                <label asp-for="ThanhTien" class="control-label">THÀNH TIỀN:</label>
                <input asp-for="ThanhTien" class="form-control" readonly id="ThanhTien" style="color:tomato" />
            </div>

            <br /> 
            <br />  
            <div class="form-group">
                <input type="submit" value="Tạo đơn hàng" class="btn btn-primary" />  |  <a asp-action="Index">Back to List</a>
        </div>
            
        </form>
        @section Scripts {

            <script>
                var arr;
                var isProductSelected = false;

                $(document).ready(function () {
                    var idsp = 0;
                    var SoLuongDHElement = $("#SoLuongDH");
                    
                    $('#sp').on('change', function () {
                        console.log('value san pham', this.value);
                        idsp = Number(this.value)
                        console.log(' id change', idsp);
                        updatePrice();
                    });

                    $("form").submit(function (event) {
                        var SoLuongDH = parseInt($("#SoLuongDH").val());
                        var SoLuongTong = parseInt($("#SoLuongTong").text());

                        // Kiểm tra nếu số lượng đặt hàng lớn hơn số lượng tổng
                        if (SoLuongDH > SoLuongTong) {
                            // Ngăn chặn việc submit biểu mẫu mặc định
                            event.preventDefault();

                            // Hiển thị thông báo lỗi
                            $("#quantity-error").show();
                        }
                    });

                    // Định nghĩa một hàm để gửi yêu cầu API và cập nhật giá cả khi có phản hồi
                    function updatePrice() {
                        $.ajax({
                            url: "https://localhost:7215/api/Demo",
                            type: 'GET',
                            dataType: 'json',
                            success: function (res) {

                                arr = res;
                                var obj = res.find(a => a.maSP == idsp)

                                if (obj) {
                                    $("#GiaCa").text(obj.giaCa);
                                    $("#SoLuongTong").text(obj.soLuongTong);

                             
                                    
                                    console.log("giaca: ", obj.giaCa);
                                    if (obj.giaCa && SoLuongDHElement.val()) {

                                       var totalPrice = obj.giaCa * parseInt(SoLuongDHElement.val());
                                        $("#ThanhTien").val(totalPrice);

                                        console.log(" san pham lay ra", obj);
                                        console.log("tong so luong", obj.soLuongTong);
                                        console.log(" so luong DH", parseInt(SoLuongDHElement.val()));

                                     
                                            if (parseInt(SoLuongDHElement.val()) > obj.soLuongTong) {
                                                $("#quantity-error").show();
                                            } else {
                                                $("#quantity-error").hide();
                                            }
                                                                       
                                    }
                                }

                            }
                        });
                    }

                    // Gọi hàm updatePrice khi sự kiện "change" xảy ra trên select element
                    $("#sp").on("change", function () {
                        updatePrice();
                    });
                    SoLuongDHElement.on("input", function () {                
                        updatePrice();
                    });

                    // Gọi hàm updatePrice ngay khi trang được tải lần đầu tiên
                    updatePrice();

                });


            </script>

        }
    </div>
</div>

