@model ProductManagement.Models.Order

<h1>Đặt hàng</h1>
@{
    ViewData["Order"] = "PRODUCTS";
}
<h4>Thông tin sản phẩm</h4>
<hr />
<div>
    <dl class="row">
        <dt class="col-sm-2">
            Tên sản phẩm
        </dt>
        <dd class="col-sm-10">
            @ViewBag.ProductName
        </dd>
        <dt class="col-sm-2">
            Giá sản phẩm
        </dt>
        <dd class="col-sm-10">
            @ViewBag.ProductPrice
        </dd>
    </dl>
</div>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Order">
            <input type="hidden" asp-for="ProductId" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TenKhachHang" class="control-label"></label>
                <input asp-for="TenKhachHang" class="form-control" />
                <span asp-validation-for="TenKhachHang" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoLuongDatHang" class="control-label"></label>
                <input asp-for="SoLuongDatHang" class="form-control" />
                <span asp-validation-for="SoLuongDatHang" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Đặt hàng" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
